*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* ---------------------------------- */
/* ENCABEZADO Y MENU DE NAVEGACION  */
/* ---------------------------------- */

header{
	width: 100%;
}

.encabezado {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px 10px 0 0;
	background: #CE7D35;
    width: 1100px;
    margin: 20px auto 0 auto;
	
}

.img1 {
    width: 120px;
    height: 100px;
	background-color: #CE7D35;
	padding-right: 15px;
}

.navegacion{
	display: flex;
    justify-content: space-evenly;
    width: 1100px;
	margin: 30px auto;
	background: rgb(221, 204, 221);
    border-radius: 0 0 10px 10px;
	
	margin-top: 0;
}

.navegacion ul{
	list-style: none;
}

.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 15px 20px;
	color: #353535;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li a:hover{
	color: #CE7D35;
	transition: all .3s;
}
/* submenu1 haciendo el desplegable */
.submenu1{
	position: absolute;
	background: #333333;
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu1 li a{
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li:hover .submenu1{
	visibility: visible;
	opacity: 1;
}

/* ------------------------------------ */
/* ----------- SLIDER ----------------- */
/* ------------------------------------ */

.slider {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	border: red solid 4px;
	width: 500px;
	height: 300px;
}