

*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    
}

/* PALETA DE COLORES */
:root {
    --turquesa: #11Ace2;
	--celeste: #46d0f4;
	--negro: #131313;
	--blanco: #fefefe;	
	--gris: #333333;
} 

body {
    background-color: #5976e2;
}

/* ---------------------------------- */
/* ENCABEZADO Y MENU DE NAVEGACION  */
/* ---------------------------------- */

header{
	width: 100%;
}

.encabezado {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px 10px 0 0;
	background: var(--blanco);
    width: 1100px;
    margin: 20px auto 0 auto;
	
}

.img1 {
    width: 120px;
	padding: 0 15px 0 15px;
    
}

.navegacion{
	display: flex;
    justify-content: space-evenly;
	align-items: center;
    width: 1100px;
	height: 70px;
	margin: 30px auto;
	background: var(--negro);
    border-radius: 0 0 10px 10px;
	margin-top: 0;
}

.navegacion ul{
	list-style: none;
}

.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 15px 20px;
	color: var(--blanco);
	font-family: 'Oswald', sans-serif;
	text-decoration: none;
}

.menu li a:hover{
	color: var(--turquesa);
	transition: all .3s;
}
/* submenu1 haciendo el desplegable */
.submenu1{
	position: absolute;
	background: var(--gris);
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu1 li a{
	display: block;
	padding: 15px;
	color: var(--blanco);
	font-family: 'Oswald', sans-serif;
	text-decoration: none;
}

.menu li:hover .submenu1{
	visibility: visible;
	opacity: 1;
}

.buscador {
	width: 200px;
	padding: 8px;
    margin-left: 35px;
    align-items: center;
}

.boton1 {
    align-items: center;
    border: none;
    background: var(--turquesa);
    padding: 6px;
    margin-left: 15px;
    border-radius: 5px;
    color: var(--blanco);
    font-size: medium;
}

.boton1:hover {
    
    cursor: pointer;
    font-weight: bold;
}

/* ------------------------------------ */
/* ----------- SLIDER ----------------- */
/* ------------------------------------ */

.slider {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	border: red solid 4px;
	width: 500px;
	height: 300px;
}

/* ----------------------------------- */
/* CARDS DE LA HOME */
/* ----------------------------------- */

main {
    display: grid;
    place-items: center;
    justify-self: center;
    padding: 40px 5px 40px 5px;
}

.cardContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 40px;
    width: 1100px;
    
    
}
    
.card1 { 
    grid-area: 1 / 1 / 2 / 2; 
    display: grid;
    place-items: center;
    grid-template-columns: auto;
    border: black solid 4px;
    border-radius: 8px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: var(--blanco);
    
    cursor: default;
    transition: all 400ms ease;
}

.card1:hover {
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}

.imgCard1 {
    width: 350px;
    height: 200px;
    display: grid;
    place-items: center;
    padding: 0px 10px 0px 0px;

}

.card2 { 
    grid-area: 1 / 2 / 2 / 3;
    border: #848775 solid 4px;
    border-radius: 8px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: var(--blanco);
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease; 
}

.card2:hover {
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}

/* ------------------------------------- */
/* FOOTER */
/* ------------------------------------- */

.footer {
    display: grid;
    margin: auto;
    width: 1100px;
    border-width: red solid 4px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 0px 30px 0px;
    background-color: var(--celeste);
}