

*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    
}

/* PALETA DE COLORES */
:root {
    --turquesa: #11Ace2;
	--celeste: #46d0f4;
	--negro: #131313;
	--blanco: #fefefe;	
	--gris: #333333;
} 
/*  */
body {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='1400' preserveAspectRatio='none' viewBox='0 0 1440 1400'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath1790%26quot%3b)' fill='none'%3e%3crect width='1440' height='1400' x='0' y='0' fill='url(%23SvgjsLinearGradient1791)'%3e%3c/rect%3e%3ccircle r='106.135' cx='852.25' cy='917.31' fill='url(%23SvgjsLinearGradient1792)'%3e%3c/circle%3e%3ccircle r='104.37' cx='1274.93' cy='778.23' fill='url(%23SvgjsLinearGradient1793)'%3e%3c/circle%3e%3ccircle r='49.675' cx='958.18' cy='566.24' fill='url(%23SvgjsLinearGradient1794)'%3e%3c/circle%3e%3ccircle r='51.6' cx='1093.74' cy='1007.29' fill='url(%23SvgjsLinearGradient1795)'%3e%3c/circle%3e%3ccircle r='62.445' cx='960.04' cy='874.69' fill='url(%23SvgjsLinearGradient1796)'%3e%3c/circle%3e%3ccircle r='102.51' cx='1027.06' cy='368.46' fill='url(%23SvgjsLinearGradient1797)'%3e%3c/circle%3e%3ccircle r='90.86' cx='304.65' cy='752.62' fill='url(%23SvgjsLinearGradient1798)'%3e%3c/circle%3e%3ccircle r='45.03' cx='564.9' cy='1398.87' fill='url(%23SvgjsLinearGradient1799)'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath1790'%3e%3crect width='1440' height='1400' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3clinearGradient x1='0.69%25' y1='-0.71%25' x2='99.31%25' y2='100.71%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1791'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(139%2c 159%2c 184%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='639.98' y1='917.31' x2='1064.52' y2='917.31' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1792'%3e%3cstop stop-color='%23f29b7c' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%237e6286' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1066.19' y1='778.23' x2='1483.67' y2='778.23' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1793'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23464a8f' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='858.8299999999999' y1='566.24' x2='1057.53' y2='566.24' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1794'%3e%3cstop stop-color='%23f29b7c' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%237e6286' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='990.54' y1='1007.29' x2='1196.94' y2='1007.29' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1795'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%234f4484' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='835.15' y1='874.69' x2='1084.93' y2='874.69' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1796'%3e%3cstop stop-color='%2332325d' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23424488' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='822.04' y1='368.46' x2='1232.08' y2='368.46' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1797'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%234f4484' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='122.92999999999998' y1='752.62' x2='486.37' y2='752.62' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1798'%3e%3cstop stop-color='%2332325d' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23424488' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='474.84' y1='1398.87' x2='654.96' y2='1398.87' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1799'%3e%3cstop stop-color='%23f29b7c' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%237e6286' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");

}

/* ---------------------------------- */
/* ENCABEZADO Y MENU DE NAVEGACION  */
/* ---------------------------------- */

header{
	width: 100%;
}

.encabezado {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px 10px 0 0;
	background: var(--blanco);
    width: 1100px;
    margin: 20px auto 0 auto;
	
}

.img1 {
    width: 120px;
	padding: 0 15px 0 15px;
    
}

.navegacion{
	display: flex;
    justify-content: space-evenly;
	align-items: center;
    width: 1100px;
	height: 70px;
	margin: 30px auto;
	background: var(--negro);
    border-radius: 0 0 10px 10px;
	margin-top: 0;
}

.navegacion ul{
	list-style: none;
}

.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 15px 20px;
	color: var(--blanco);
	font-family: 'Oswald', sans-serif;
	text-decoration: none;
}

.menu li a:hover{
	color: var(--turquesa);
	transition: all .3s;
}
/* submenu1 haciendo el desplegable */
.submenu1{
	position: absolute;
	background: var(--gris);
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu1 li a{
	display: block;
	padding: 15px;
	color: var(--blanco);
	font-family: 'Oswald', sans-serif;
	text-decoration: none;
}

.menu li:hover .submenu1{
	visibility: visible;
	opacity: 1;
}

.buscador {
	width: 200px;
	padding: 8px;
    margin-left: 35px;
    align-items: center;
}

.boton1 {
    align-items: center;
    border: none;
    background: var(--turquesa);
    padding: 6px;
    margin-left: 15px;
    border-radius: 5px;
    color: var(--blanco);
    font-size: medium;
}

.boton1:hover {
    
    cursor: pointer;
    font-weight: bold;
}

/* ------------------------------------ */
/* ----------- SLIDER ----------------- */
/* ------------------------------------ */

.slider {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	border: red solid 4px;
	width: 500px;
	height: 300px;
}

/* ----------------------------------- */
/* CARDS DE LA HOME */
/* ----------------------------------- */

main {
    display: grid;
    place-items: center;
    justify-self: center;
    padding: 40px 5px 40px 5px;
}

.cardContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 40px;
    width: 1100px;
    
    
}
    
.card1 { 
    grid-area: 1 / 1 / 2 / 2; 
    display: grid;
    place-items: center;
    grid-template-columns: auto;
    border: black solid 4px;
    border-radius: 8px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: var(--blanco);
    
    cursor: default;
    transition: all 400ms ease;
}

.card1:hover {
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}

.imgCard1 {
    width: 350px;
    height: 200px;
    display: grid;
    place-items: center;
    padding: 0px 10px 0px 0px;

}

.card2 { 
    grid-area: 1 / 2 / 2 / 3;
    border: #848775 solid 4px;
    border-radius: 8px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: var(--blanco);
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease; 
}

.card2:hover {
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}

/* ------------------------------------- */
/* FOOTER */
/* ------------------------------------- */

.footer {
    display: grid;
    margin: auto;
    width: 1100px;
    color: var(--blanco);
    padding: 30px 0px 30px 0px;
    background-color: var(--negro);
    border-radius: 0 0 8px 8px;
    padding-bottom: 10px;
}

.redes a {
    text-decoration: none;
}

.footerColumnas {
    display: grid;
    width: 1200px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.navegacion {
    display: grid;
    
}

.footerNavbar li  {
    list-style-type: none;

}

.footerNavbar a {
    text-decoration: none;
}