* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* PALETA DE COLORES */
:root {
  --turquesa: #11Ace2;
	--celeste: #46d0f4;
	--negro: #131313;
	--blanco: #fefefe;	
	--gris: #333333;
    
} 


/*  ------------------------------------------  */
/* ESTILOS DEL FORMULARIO */
/*  ------------------------------------------  */
body {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1600' height='560' preserveAspectRatio='none' viewBox='0 0 1600 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1025%26quot%3b)' fill='none'%3e%3crect width='1600' height='560' x='0' y='0' fill='rgba(204%2c 197%2c 231%2c 1)'%3e%3c/rect%3e%3cpath d='M531.16 483.92L548.78 483.92L548.78 516.77L531.16 516.77z' fill='rgba(219%2c 108%2c 107%2c 1)'%3e%3c/path%3e%3cpath d='M1409.77 65.58L1419.89 65.58L1419.89 75.83L1409.77 75.83z' fill='rgba(96%2c 146%2c 100%2c 1)'%3e%3c/path%3e%3cpath d='M1113.13 492.04a42.36 42.36 0 1 0-70.1 47.57z' stroke='rgba(96%2c 146%2c 100%2c 1)'%3e%3c/path%3e%3cpath d='M412.75 257.95 a50.62 50.62 0 1 0 101.24 0 a50.62 50.62 0 1 0 -101.24 0z' stroke='rgba(205%2c 181%2c 41%2c 1)'%3e%3c/path%3e%3cpath d='M531.13 442.5 a4.04 4.04 0 1 0 8.08 0 a4.04 4.04 0 1 0 -8.08 0z' fill='rgba(205%2c 181%2c 41%2c 1)'%3e%3c/path%3e%3cpath d='M1113.92 232.27a6.68 6.68 0 1 0-10.38-8.42z' stroke='rgba(219%2c 108%2c 107%2c 1)'%3e%3c/path%3e%3cpath d='M1069.17 258.62a27.63 27.63 0 1 0-19.33 51.77z' fill='rgba(96%2c 146%2c 100%2c 1)'%3e%3c/path%3e%3cpath d='M1227.61 87.26L1237.69 87.26L1237.69 133.19L1227.61 133.19z' stroke='rgba(219%2c 108%2c 107%2c 1)'%3e%3c/path%3e%3cpath d='M752.48 207.88L795.39 207.88L795.39 250.79L752.48 250.79z' fill='rgba(96%2c 146%2c 100%2c 1)'%3e%3c/path%3e%3cpath d='M1008.53 343.85L1047.66 343.85L1047.66 396.01L1008.53 396.01z' stroke='rgba(219%2c 108%2c 107%2c 1)'%3e%3c/path%3e%3cpath d='M518.25 405.39a45.59 45.59 0 1 0-38.65 82.58z' fill='rgba(219%2c 108%2c 107%2c 1)'%3e%3c/path%3e%3cpath d='M843.07 504.57a24.35 24.35 0 1 0-46.6 14.15z' fill='rgba(96%2c 146%2c 100%2c 1)'%3e%3c/path%3e%3cpath d='M1165.41 386.29 a45.2 45.2 0 1 0 90.4 0 a45.2 45.2 0 1 0 -90.4 0z' fill='rgba(96%2c 146%2c 100%2c 1)'%3e%3c/path%3e%3cpath d='M1009.81 59.09a8.63 8.63 0 1 0-13.93-10.18z' fill='rgba(205%2c 181%2c 41%2c 1)'%3e%3c/path%3e%3cpath d='M601.36 461.68L627.1 461.68L627.1 487.42L601.36 487.42z' stroke='rgba(205%2c 181%2c 41%2c 1)'%3e%3c/path%3e%3cpath d='M1306.94 243.83L1319.76 243.83L1319.76 256.65L1306.94 256.65z' stroke='rgba(96%2c 146%2c 100%2c 1)'%3e%3c/path%3e%3cpath d='M32.15 447.28L39.1 447.28L39.1 499.04L32.15 499.04z' fill='rgba(96%2c 146%2c 100%2c 1)'%3e%3c/path%3e%3cpath d='M795.98 519.28 a27.98 27.98 0 1 0 55.96 0 a27.98 27.98 0 1 0 -55.96 0z' fill='rgba(219%2c 108%2c 107%2c 1)'%3e%3c/path%3e%3cpath d='M1373.2 222.74 a16.6 16.6 0 1 0 33.2 0 a16.6 16.6 0 1 0 -33.2 0z' stroke='rgba(205%2c 181%2c 41%2c 1)'%3e%3c/path%3e%3cpath d='M236.07 427.34a11.6 11.6 0 1 0-19.82 12.06z' fill='rgba(205%2c 181%2c 41%2c 1)'%3e%3c/path%3e%3cpath d='M1378 118.51 a12.53 12.53 0 1 0 25.06 0 a12.53 12.53 0 1 0 -25.06 0z' stroke='rgba(205%2c 181%2c 41%2c 1)'%3e%3c/path%3e%3cpath d='M733.16 239.22 a51.75 51.75 0 1 0 103.5 0 a51.75 51.75 0 1 0 -103.5 0z' fill='rgba(219%2c 108%2c 107%2c 1)'%3e%3c/path%3e%3cpath d='M77.44 115.98L94.12 115.98L94.12 147.52L77.44 147.52z' fill='rgba(219%2c 108%2c 107%2c 1)'%3e%3c/path%3e%3cpath d='M1263.36 367.46 a48.17 48.17 0 1 0 96.34 0 a48.17 48.17 0 1 0 -96.34 0z' stroke='rgba(205%2c 181%2c 41%2c 1)'%3e%3c/path%3e%3cpath d='M1493.71 464.72L1541.89 464.72L1541.89 512.9L1493.71 512.9z' fill='rgba(205%2c 181%2c 41%2c 1)'%3e%3c/path%3e%3cpath d='M1455.97 409.34a50.37 50.37 0 1 0-66.06-76.05z' stroke='rgba(96%2c 146%2c 100%2c 1)'%3e%3c/path%3e%3cpath d='M473.74 350.64L505.53 350.64L505.53 382.43L473.74 382.43z' fill='rgba(219%2c 108%2c 107%2c 1)'%3e%3c/path%3e%3cpath d='M438.6 137.95a43.56 43.56 0 1 0-61.94-61.26z' fill='rgba(205%2c 181%2c 41%2c 1)'%3e%3c/path%3e%3cpath d='M219.08 559.37a5.34 5.34 0 1 0 10.68 0.02z' stroke='rgba(96%2c 146%2c 100%2c 1)'%3e%3c/path%3e%3cpath d='M730.9 490 a46.97 46.97 0 1 0 93.94 0 a46.97 46.97 0 1 0 -93.94 0z' stroke='rgba(205%2c 181%2c 41%2c 1)'%3e%3c/path%3e%3cpath d='M1471.11 534.2a38.97 38.97 0 1 0-61.81-47.48z' fill='rgba(219%2c 108%2c 107%2c 1)'%3e%3c/path%3e%3cpath d='M792.58 185.5a20.86 20.86 0 1 0-15.11-38.89z' stroke='rgba(96%2c 146%2c 100%2c 1)'%3e%3c/path%3e%3cpath d='M1544.09 160.6L1577.46 160.6L1577.46 193.97L1544.09 193.97z' fill='rgba(219%2c 108%2c 107%2c 1)'%3e%3c/path%3e%3cpath d='M653.84 2.25a32.37 32.37 0 1 0 2.9 64.68z' stroke='rgba(219%2c 108%2c 107%2c 1)'%3e%3c/path%3e%3cpath d='M792.57 49.5L793.06 49.5L793.06 49.99L792.57 49.99z' stroke='rgba(219%2c 108%2c 107%2c 1)'%3e%3c/path%3e%3cpath d='M1441.71 82.07L1464.37 82.07L1464.37 104.73L1441.71 104.73z' stroke='rgba(96%2c 146%2c 100%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1025'%3e%3crect width='1600' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.contact {
    display: flex;
    align-items: center;
    margin: 20px 0 50px 0;
    border-radius: 15px;
    position: static;
}

.contactForm {
    width: 100%;
    height: 635px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 15px;
    box-shadow: 3px 10px 105px 3px rgb(25, 37, 52);
}

.form {
    width: 400px;
    height: 450px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

h2 {
    margin: 20px 5px;
    font-size: 30px;
    font-variant: small-caps;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.btnEnviar {
    margin-top: 10px;
    font-size: 15px;
    font-weight: bolder;
    font-variant: small-caps;
    font-family: Arial, Helvetica, sans-serif;
    background: var(--celeste);
}

.btnEnviar:hover {
    background: var(--turquesa);
    color: var(--blanco);
    cursor: pointer;
    font-weight: bold;
}

input {
    width: 250px;
    margin-bottom: 15px;
    padding: 8px;
    border-radius: 8px;
    outline: none;
}

textarea {
    border-radius: 8px;
}

label {
    display: flex;
    margin-left: -160px;
    font-size: 15px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}

span {
    color: red;
    margin-left: 3px;
    font-size: 20px;
}

/* menu hamburguesa */
.hamburger {
  display: none;
}

.hamburger input[type="checkbox"] {
  display: none;
}

/* ----------------------------------------- */
/* QUERYS (MÍNIMO TRES TAMAÑOS DISTINTOS)  */
/* ----------------------------------------- */
/* menu hamburguesa */
@media (max-width: 1000px) {
  .navegacion {
      display: flex;
      flex-wrap: wrap;
      height: 100px;
    }
    
    .navegacion ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
    }
    
}
  
@media (max-width: 760px){
  .header {
      position: relative;
    }
  .encabezado h1{
      display: flex;
      background-color: var(--blanco);
      width: 95%;
      height: 100px;
      align-items: center;
      justify-content: center;
      position: absolute;
      margin: 5px ;
      border-radius: 8px;
      border: 3px solid var(--turquesa);
  }
  .encabezado a{
      display: none;
  }
  .navegacion {
      display: none;
    }
    .hamburger {
      display: block;
      background-color: var(--blanco);
    }
  
    .hamburger label {
      display: flex;
      width: 15%;
      height: 27px;
      position: absolute;
      align-items: center;
      justify-content: center;
      color:var(--negro);
      font-size: 24px;
      cursor: pointer;
      margin: -6px 0px 0px 30px;
    }
    .navegacion.open {
      display: block;
      position: fixed;
      top: 0;
      right: 0;
      width: 50%;
      height: 50%;
      background-color: var(--blanco);
      color: var(--negro);
      z-index: 2;
      margin: 54px 175px;
      border-radius: 8px;
      border: 3px solid var(--turquesa);
   }
  
    .navegacion.open li {
      margin-top: 10px;
    }
  
    .navegacion.open a {
      color: var(--negro);
      text-decoration: none;
      font-size: 18px;
    }
    .contenedor-buscador{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    
    .buscador{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 400px;
      height: 30px;
      margin-bottom: 15px;
    }

    .submenu1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-items: flex-start;
      background-color: #babdac;
      border-radius: 5px;
    }

     .navegacion ul {
      width: 90%;
      height: fit-content;
     } 

    main {
      margin-top: 35px;
    }

    .form {
      width: 350px;
    }
      /* -------------------------------- */
    /*  responsive en FOOTER */
    /* -------------------------------- */

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 1500px;
    }

    .footerColumnas {
        width: 350px;
        height: 500px;  
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
        padding-top: 350px;
    }

    .logoMarca {
      padding-top: 500px;
    }
    .footerFila {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 100%;
        padding-top: 670px;
        padding-bottom: 20px;
    }

    footer {
        display: flex;
        height: 90%;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
  }
  @media(max-width: 574px) {
    .footerColumnas {
        width: 100%;
        height: 100%;
    }
}
  @media (max-width: 420px){
    .encabezado h1{
        font-size: 1.5rem;
        height: 48px;
        position: absolute;
        right: 0;
        top: 0;
    }
    .buscador{
      width: 100px;
      display: flex;
      justify-content: center;
    }

  }