*{
	margin: 0;
	padding: 0;
}
/* PALETA DE COLORES */
:root {
    --verde: rgb(41, 191, 41);
    --turquesa: #11Ace2;
	--celeste: #46d0f4;
	--negro: #131313;
	--blanco: #fefefe;	
	--gris: #333333;
} 

/* BODY: IMAGEN DE FONDO DE LA PÁGINA */
body {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1600' height='560' preserveAspectRatio='none' viewBox='0 0 1600 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1025%26quot%3b)' fill='none'%3e%3crect width='1600' height='560' x='0' y='0' fill='rgba(204%2c 197%2c 231%2c 1)'%3e%3c/rect%3e%3cpath d='M531.16 483.92L548.78 483.92L548.78 516.77L531.16 516.77z' fill='rgba(219%2c 108%2c 107%2c 1)'%3e%3c/path%3e%3cpath d='M1409.77 65.58L1419.89 65.58L1419.89 75.83L1409.77 75.83z' fill='rgba(96%2c 146%2c 100%2c 1)'%3e%3c/path%3e%3cpath d='M1113.13 492.04a42.36 42.36 0 1 0-70.1 47.57z' stroke='rgba(96%2c 146%2c 100%2c 1)'%3e%3c/path%3e%3cpath d='M412.75 257.95 a50.62 50.62 0 1 0 101.24 0 a50.62 50.62 0 1 0 -101.24 0z' stroke='rgba(205%2c 181%2c 41%2c 1)'%3e%3c/path%3e%3cpath d='M531.13 442.5 a4.04 4.04 0 1 0 8.08 0 a4.04 4.04 0 1 0 -8.08 0z' fill='rgba(205%2c 181%2c 41%2c 1)'%3e%3c/path%3e%3cpath d='M1113.92 232.27a6.68 6.68 0 1 0-10.38-8.42z' stroke='rgba(219%2c 108%2c 107%2c 1)'%3e%3c/path%3e%3cpath d='M1069.17 258.62a27.63 27.63 0 1 0-19.33 51.77z' fill='rgba(96%2c 146%2c 100%2c 1)'%3e%3c/path%3e%3cpath d='M1227.61 87.26L1237.69 87.26L1237.69 133.19L1227.61 133.19z' stroke='rgba(219%2c 108%2c 107%2c 1)'%3e%3c/path%3e%3cpath d='M752.48 207.88L795.39 207.88L795.39 250.79L752.48 250.79z' fill='rgba(96%2c 146%2c 100%2c 1)'%3e%3c/path%3e%3cpath d='M1008.53 343.85L1047.66 343.85L1047.66 396.01L1008.53 396.01z' stroke='rgba(219%2c 108%2c 107%2c 1)'%3e%3c/path%3e%3cpath d='M518.25 405.39a45.59 45.59 0 1 0-38.65 82.58z' fill='rgba(219%2c 108%2c 107%2c 1)'%3e%3c/path%3e%3cpath d='M843.07 504.57a24.35 24.35 0 1 0-46.6 14.15z' fill='rgba(96%2c 146%2c 100%2c 1)'%3e%3c/path%3e%3cpath d='M1165.41 386.29 a45.2 45.2 0 1 0 90.4 0 a45.2 45.2 0 1 0 -90.4 0z' fill='rgba(96%2c 146%2c 100%2c 1)'%3e%3c/path%3e%3cpath d='M1009.81 59.09a8.63 8.63 0 1 0-13.93-10.18z' fill='rgba(205%2c 181%2c 41%2c 1)'%3e%3c/path%3e%3cpath d='M601.36 461.68L627.1 461.68L627.1 487.42L601.36 487.42z' stroke='rgba(205%2c 181%2c 41%2c 1)'%3e%3c/path%3e%3cpath d='M1306.94 243.83L1319.76 243.83L1319.76 256.65L1306.94 256.65z' stroke='rgba(96%2c 146%2c 100%2c 1)'%3e%3c/path%3e%3cpath d='M32.15 447.28L39.1 447.28L39.1 499.04L32.15 499.04z' fill='rgba(96%2c 146%2c 100%2c 1)'%3e%3c/path%3e%3cpath d='M795.98 519.28 a27.98 27.98 0 1 0 55.96 0 a27.98 27.98 0 1 0 -55.96 0z' fill='rgba(219%2c 108%2c 107%2c 1)'%3e%3c/path%3e%3cpath d='M1373.2 222.74 a16.6 16.6 0 1 0 33.2 0 a16.6 16.6 0 1 0 -33.2 0z' stroke='rgba(205%2c 181%2c 41%2c 1)'%3e%3c/path%3e%3cpath d='M236.07 427.34a11.6 11.6 0 1 0-19.82 12.06z' fill='rgba(205%2c 181%2c 41%2c 1)'%3e%3c/path%3e%3cpath d='M1378 118.51 a12.53 12.53 0 1 0 25.06 0 a12.53 12.53 0 1 0 -25.06 0z' stroke='rgba(205%2c 181%2c 41%2c 1)'%3e%3c/path%3e%3cpath d='M733.16 239.22 a51.75 51.75 0 1 0 103.5 0 a51.75 51.75 0 1 0 -103.5 0z' fill='rgba(219%2c 108%2c 107%2c 1)'%3e%3c/path%3e%3cpath d='M77.44 115.98L94.12 115.98L94.12 147.52L77.44 147.52z' fill='rgba(219%2c 108%2c 107%2c 1)'%3e%3c/path%3e%3cpath d='M1263.36 367.46 a48.17 48.17 0 1 0 96.34 0 a48.17 48.17 0 1 0 -96.34 0z' stroke='rgba(205%2c 181%2c 41%2c 1)'%3e%3c/path%3e%3cpath d='M1493.71 464.72L1541.89 464.72L1541.89 512.9L1493.71 512.9z' fill='rgba(205%2c 181%2c 41%2c 1)'%3e%3c/path%3e%3cpath d='M1455.97 409.34a50.37 50.37 0 1 0-66.06-76.05z' stroke='rgba(96%2c 146%2c 100%2c 1)'%3e%3c/path%3e%3cpath d='M473.74 350.64L505.53 350.64L505.53 382.43L473.74 382.43z' fill='rgba(219%2c 108%2c 107%2c 1)'%3e%3c/path%3e%3cpath d='M438.6 137.95a43.56 43.56 0 1 0-61.94-61.26z' fill='rgba(205%2c 181%2c 41%2c 1)'%3e%3c/path%3e%3cpath d='M219.08 559.37a5.34 5.34 0 1 0 10.68 0.02z' stroke='rgba(96%2c 146%2c 100%2c 1)'%3e%3c/path%3e%3cpath d='M730.9 490 a46.97 46.97 0 1 0 93.94 0 a46.97 46.97 0 1 0 -93.94 0z' stroke='rgba(205%2c 181%2c 41%2c 1)'%3e%3c/path%3e%3cpath d='M1471.11 534.2a38.97 38.97 0 1 0-61.81-47.48z' fill='rgba(219%2c 108%2c 107%2c 1)'%3e%3c/path%3e%3cpath d='M792.58 185.5a20.86 20.86 0 1 0-15.11-38.89z' stroke='rgba(96%2c 146%2c 100%2c 1)'%3e%3c/path%3e%3cpath d='M1544.09 160.6L1577.46 160.6L1577.46 193.97L1544.09 193.97z' fill='rgba(219%2c 108%2c 107%2c 1)'%3e%3c/path%3e%3cpath d='M653.84 2.25a32.37 32.37 0 1 0 2.9 64.68z' stroke='rgba(219%2c 108%2c 107%2c 1)'%3e%3c/path%3e%3cpath d='M792.57 49.5L793.06 49.5L793.06 49.99L792.57 49.99z' stroke='rgba(219%2c 108%2c 107%2c 1)'%3e%3c/path%3e%3cpath d='M1441.71 82.07L1464.37 82.07L1464.37 104.73L1441.71 104.73z' stroke='rgba(96%2c 146%2c 100%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1025'%3e%3crect width='1600' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

/* ---------------------------------- */
/* ENCABEZADO Y MENU DE NAVEGACION  */
/* ---------------------------------- */

h1 {
    color: var(--gris);
    font-variant: small-caps;
    font-size: 40px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.encabezado {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px 10px 0 0;
	background-image: linear-gradient(0, #ffffff 0, #ffffff 25%, #edeaf1 50%, #c8cac2 75%, #a9ad98 100%);
    width: 85%;
    margin: 20px auto 0 auto;
}

.img1 {
    width: 100px;
	padding: 0 15px 0 15px;
}

.navegacion{
	display: flex;
    justify-content: space-evenly;
	align-items: center;
    width: 85%;
	height: 70px;
	margin: 30px auto;
	background: var(--negro);
    border-radius: 0 0 10px 10px;
	margin-top: 0;
}

.navegacion ul{
	list-style: none;
}
.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 15px 20px;
	color: var(--blanco);
	font-family: 'Oswald', sans-serif;
	text-decoration: none;
}

.menu li a:hover{
	color: var(--turquesa);
	transition: all .3s;
}
/* submenu1 haciendo el desplegable */
.submenu1{
	position: absolute;
	background: var(--gris);
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
    z-index: 1;
}

.submenu1 li a{
	display: block;
	padding: 15px;
	color: var(--blanco);
	font-family: 'Oswald', sans-serif;
	text-decoration: none;
}

.menu li:hover .submenu1{
	visibility: visible;
	opacity: 1;
}

.buscador {
	width: 200px;
	padding: 8px;
    margin-left: 35px;
    align-items: center;
}

.boton1 {
    align-items: center;
    border: none;
    background: var(--turquesa);
    padding: 6px;
    margin-left: 15px;
    border-radius: 5px;
    color: var(--blanco);
    font-size: medium;
}

.boton1:hover {
    
    cursor: pointer;
    font-weight: bold;
}
/* menu hamburguesa */
.hamburger {
    display: none;
  }

.hamburger input[type="checkbox"] {
    display: none;
  }
/* ---------------------------------- */
/* PRODUCTOS/DETALLE  */
/* ---------------------------------- */
main > .detalle{
    width: 80%;
    margin: auto;
    padding-bottom: 30px;
}
.detalle{
    display: inline-flex;
    width: 80%;
    flex-direction: row;
}

.detalle .imagen img{
    width: 100%;
}
.detalle .imagen{
    width: 50%;
}
.detalle .informacion{
    width: 25%;
    display:flex;
    flex-direction: column;
    margin-right: 10px;
}
.detalle .nombre{
    font-size:x-large;
    font-weight: 550;
}
.detalle .compra{
    width: 25%;
}
#detalles{
    display: flex;
    justify-content: center;
    align-items: center;
}
.estrella{
    font-size:x-large;
    color: var(--turquesa);
    margin-bottom: 15px;
}
.informacion .precio{
    font-size: xx-large;
    color: var(--negro);
    background-color: var(--blanco);
    padding: 0px;
    border-radius: 0px; 
    width: fit-content;
}
.informacion .precioAnterior{
    text-decoration: line-through;
    font-size: 20px;
}
.oferta{
    color: var(--verde);
    font-size: 20px;
}
.cuotas{
    margin-top: 15px;
    font-size: 18px;
}
.carrito{
    margin-top: 5%;
    margin-right: 25%;
    padding: 6px;
    background-color: var(--turquesa);
    border-radius: 15px;
    display:flex;
    justify-content: space-around;
    font-weight: 550;
    font-size: 16px;
    color: var(--blanco);

}
.carrito:hover{
    background-color: #0d84af;
    cursor: pointer;
}
.conjunto{
    display: flex;
    flex-direction: column
}
.lista{
    list-style: none;
    margin-left: 10%;
    margin-bottom: 10px;
}
.subLista{
    display: flex;
    justify-content: space-between;
}
.subNombre{
    font-weight:bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* ----------------------------------------- */
/* QUERYS DETALLE PRODUCTO (MÍNIMO TRES TAMAÑOS DISTINTOS)  */
/* ----------------------------------------- */
@media(max-width:1200px){
    .detalle{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .detalle .slide{
        width: 50%;
        margin-right: 0px;
    }
    .detalle .informacion{
        width: 45%;
        margin-left: 5%;
        display:flex;
        flex-direction: column;
        margin-right:0px;
        justify-content: space-around
    }
    .detalle .compra{
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .subNombre{
        list-style: none;
    }
}
@media(max-width:767px){
    
    /* ----------Boton de whatsapp--------- */
    .btn-wsp{
        position: fixed;
        width:63px;
        height:63px;
        line-height: 66px;
        bottom:25px;
        right:25px;
        background:#25d366;
        color:#FFF;
        border-radius:50px;
        text-align:center;
        font-size:35px;
        box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
	}
    
    .detalle{
        flex-direction: column;
    }
    .detalle .slide{
        width: 100%;
        height: 100%;
        position: relative;
        margin-right: 0px;
    }
    .detalle .informacion{
        margin-top: 30px;
        width: 100%;
        margin-bottom: 30px;
        margin-left: 0px;
    }
    .carrito{
        margin-top: 10px;
        margin-right: 10px;
        max-width: 302px;
    }
    .detalle .compra{
        width: 100%;
        margin-bottom: 30px;
    }
    .subNombre{
        list-style: disc;
    }
    .slide iframe{
        min-height: 65vw;
    }
}

/* CARRUSEL IMAGENES DETALLE PRODUCTO*/

.slide {
    max-width: 617px;
    max-height: 480px;
    width: 50%;
    position: relative;
    margin-right: 20px;
}
.slide img{
    width: 100%;
    height: 100%;
}
.slide iframe{
    width: 100%;
    height: 100%;
    /* display: block;
    height: 100%;
    max-width: 100%;
    max-height: 480px; */
}
.slide-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    /* height: calc( 300px + 3em); */
}
.slide-open:checked + .slide-item {
    position: static;
    opacity: 100;
    position: relative;
}
.slide-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
    height: 100%;
    width: 100%;
}
.slide-item img {
    display: block;
    height: 100%;
    max-width: 100%;
    max-height: 480px;
}
.slide-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    display: none;
    font-size: 40px;
    height: 50px;
    line-height: 40px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 50px;
    z-index: 10;
}
/* .control-4{
    display: block;
} */
.slide-control.prev {
    left: 3%;
}
.slide-control.next {
    right: 3%;
}
.slide-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}
#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3,
#slide-4:checked ~ .control-4 {
    display: block;
}
.slide-indicador {
    list-style: none;
    margin: auto;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
    width: fit-content;
}
.slide-indicador li {
    display: inline-block;
    margin: 0 5px;
}
.slide-circulo {
    color: #828282;
    cursor: pointer;
    display: block;
    font-size: 35px;
}
.slide-circulo:hover {
    color: #aaaaaa;
}
#slide-1:checked ~ .control-1 ~ .slide-indicador 
     li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador 
      li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .control-3 ~ .slide-indicador 
      li:nth-child(3) .slide-circulo,
#slide-4:checked ~ .control-4 ~ .slide-indicador 
      li:nth-child(4) .slide-circulo {
    color: #428bca;
}
#titulo {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), 
         -1px 0px 2px rgba(255, 255, 255, 0);
}

/* -------------------------------------- */
/* -----------------FOOTER--------------- */
/* -------------------------------------- */

footer .footer {
    display: flex;
    position: absolute;
    justify-content: center;
    margin: auto;
}

.footer {
    width: 85%;
    color: var(--blanco);
    padding: 10px 0px 10px 0px;
    background-color: var(--negro);
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 0 auto 20px auto;
}

.footerColumnas {
    display: flex;
    flex-direction: row;
    min-height: 250px;
    justify-content: space-around;
    align-content: stretch;
    align-items: stretch;
    margin-top: 10px;  
}

h4 {
    display: flex;
    justify-content: center;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-variant: small-caps;
    padding-bottom: 13px;
}

.redes {
    flex-direction: column;
}

.redes a {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: self-start;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    color: var(--blanco);
}

.redes a :hover {
    fill: var(--turquesa);
    cursor: pointer;
}

.footerNavegacion {
    display: flex;
    flex-direction: column;
}

.footerNavbar {
    display: flex;
    flex-direction: column;
    align-items: center;    
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

.footerNavbar li  {
    list-style-type: none;
    margin-bottom: 10px;
}

.footerNavbar a {
    text-decoration: none;
    color: var(--blanco);
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footerNavbar a:hover {
    color: var(--turquesa);
    cursor: pointer;
}

.logoMarca {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: auto;
}

.mediosPago {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mediosPago a :hover {
    fill: var(--turquesa);
    cursor: pointer;
}

.footerFila {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: smaller;
    font-family: Arial, Helvetica, sans-serif;
}

.footerFila a {
    color: var(--blanco);
    text-decoration: none;
}

.footerFila a:hover {
    color: var(--turquesa);
    cursor: pointer;
}

.direccionBSAS {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.direccionBSAS p {
    margin-top: 13px;
}

/* ----------------------------------------- */
/* QUERYS (MÍNIMO TRES TAMAÑOS DISTINTOS)  */
/* ----------------------------------------- */
/* menu hamburguesa */
@media (max-width: 1000px) {
    .navegacion {
        display: flex;
        flex-wrap: wrap;
        height: 100px;
      }
      
      .navegacion ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
      }
      
      .navegacion ul li {
        margin-right: 10px; 
      }
      
      .input {
        margin-top: 10px; 
      }
  }
  @media (max-width: 760px) {
    .header {
        position: relative;
      }
    .encabezado h1{
        display: flex;
        background-color: var(--blanco);
        width: 95%;
        height: 100px;
        align-items: center;
        justify-content: center;
        position: absolute;
        margin: 5px ;
        border-radius: 8px;
        border: 3px solid var(--turquesa);
    }
    .encabezado a{
        display: none;
    }
    .navegacion {
        display: none;
      }
      .hamburger {
        display: block;
        background-color: var(--blanco);
      }
    
      .hamburger label {
        display: flex;
        width: 15%;
        height: px;
        position: absolute;
        align-items: center;
        justify-content: center;
        color:var(--negro);
        font-size: 24px;
        cursor: pointer;
        margin: -4px 0px 0px 30px;
      }
      .navegacion.open {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        background-color: var(--blanco);
        color: var(--negro);
        z-index: 1;
      }
    
      .navegacion.open {
        margin: 50px 20px;
      }
    
      .navegacion.open li {
        margin-bottom: 20px;
      }
    
      .navegacion.open a {
        color: var(--negro);
        text-decoration: none;
        font-size: 18px;
      }
      .contenedor-buscador{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .buscador{
        width: 150px;
      }
      .buscador, .boton1{
        margin-bottom: 10px;
      }
      #detalles{
        margin-top: 70px;
      }

    main {
        margin-top: 55px;
    }
    

      /* -------------------------------- */
    /* intento de responsive en FOOTER */
    /* -------------------------------- */

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        height: 90%;
    }

    .footerColumnas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
        
    }

    .logoMarca, .redes, .footerNavegacion, .mediosPago {
        padding-bottom: 45px;
        flex-basis: auto;
    }

    .footerFila {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 90%;
    }

    footer {
        display: flex;
        height: 90%;
        width: 90%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
  }
  @media(max-width: 574px) {
    .footerColumnas {
        width: 100%;

    }
}
  @media (max-width: 420px){
    .encabezado h1{
        font-size: 1.5rem;
        height: 48px;
        position: absolute;
        right: 0;
        top: 0;
    }
    .buscador{
        width: 75px;
      }

  }