*{
	margin: 0;
	padding: 0;
}
/* PALETA DE COLORES */
:root {
    --turquesa: #11Ace2;
	--celeste: #46d0f4;
	--negro: #131313;
	--blanco: #fefefe;	
	--gris: #333333;
} 

/* ---------------------------------- */
/* ENCABEZADO Y MENU DE NAVEGACION  */
/* ---------------------------------- */


header{
	width: 100%;
}

.encabezado {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px 10px 0 0;
	background-image: linear-gradient(0, #ffffff 0, #ffffff 25%, #edeaf1 50%, #c8cac2 75%, #a9ad98 100%);
    width: 85%;
    margin: 20px auto 0 auto;
}

.img1 {
    width: 100px;
	padding: 0 15px 0 15px;
}

.navegacion{
	display: flex;
    justify-content: space-evenly;
	align-items: center;
    width: 85%;
	height: 70px;
	margin: 30px auto;
	background: var(--negro);
    border-radius: 0 0 10px 10px;
	margin-top: 0;
}

.navegacion ul{
	list-style: none;
}

.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 15px 20px;
	color: var(--blanco);
	font-family: 'Oswald', sans-serif;
	text-decoration: none;
}

.menu li a:hover{
	color: var(--turquesa);
	transition: all .3s;
}
/* submenu1 haciendo el desplegable */
.submenu1{
	position: absolute;
	background: var(--gris);
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu1 li a{
	display: block;
	padding: 15px;
	color: var(--blanco);
	font-family: 'Oswald', sans-serif;
	text-decoration: none;
}

.menu li:hover .submenu1{
	visibility: visible;
	opacity: 1;
}

.buscador {
	width: 200px;
	padding: 8px;
    margin-left: 35px;
    align-items: center;
}

.boton1 {
    align-items: center;
    border: none;
    background: var(--turquesa);
    padding: 6px;
    margin-left: 15px;
    border-radius: 5px;
    color: var(--blanco);
    font-size: medium;
}

.boton1:hover {
    
    cursor: pointer;
    font-weight: bold;
}

/* ---------------------------------- */
/* CARDS PRODUCTOS/MONITORES  */
/* ---------------------------------- */

#productos{
    display: grid;
    grid-template-columns: repeat(auto-fit, 280px);
    grid-template-rows: 1fr;
    grid-gap:1em;
    justify-content: center;

}
.producto{
    max-width: 280px;
    display: flex;
    flex-flow: column;
    border-radius: 6px;
    box-shadow: 0 0 0.1em rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition-property: box-shadow;
    transition-duration: 0.3s;
}
.producto:hover{
    box-shadow:  0 0 1.5em rgba(0, 0, 0, 0.2);
}
.producto > img{
    width: 100%;
    object-fit: cover;
}
.info{
    border-top: 1px solid rgba(230,230,230);
    padding: 1em;
    display: flex;
    flex-flow: column;
}
.info * + *{
    margin-bottom: 1em;
}
.precio{
    background-color: var(--turquesa);
    color: rgba(255,255,255);
    font-weight: 600;
    max-width: max-content;
    padding: 0 0.2em;
    border-radius: 3px;
}

/* -------------------------------------- */
/* -----------------FOOTER--------------- */
/* -------------------------------------- */

footer .footer {
    display: flex;
    position: absolute;
    justify-content: center;
    margin: auto;
}

.footer {
    width: 85%;
    color: var(--blanco);
    padding: 10px 0px 10px 0px;
    background-color: var(--negro);
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 0 auto 20px auto;
}

.footerColumnas {
    display: flex;
    flex-direction: row;
    min-height: 250px;
    justify-content: space-around;
    align-content: stretch;
    align-items: stretch;
    margin-top: 10px;  
}

h4 {
    display: flex;
    justify-content: center;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-variant: small-caps;
    padding-bottom: 13px;
}

.redes {
    flex-direction: column;
}

.redes a {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: self-start;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    color: var(--blanco);
}

.redes a :hover {
    fill: var(--turquesa);
    cursor: pointer;
}

.footerNavegacion {
    display: flex;
    flex-direction: column;
}

.footerNavbar {
    display: flex;
    flex-direction: column;
    align-items: center;    
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

.footerNavbar li  {
    list-style-type: none;
    margin-bottom: 10px;
}

.footerNavbar a {
    text-decoration: none;
    color: var(--blanco);
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footerNavbar a:hover {
    color: var(--turquesa);
    cursor: pointer;
}

.logoMarca {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: auto;
}

.mediosPago {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mediosPago a :hover {
    fill: var(--turquesa);
    cursor: pointer;
}

.footerFila {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: smaller;
    font-family: Arial, Helvetica, sans-serif;
}

.footerFila a {
    color: var(--blanco);
    text-decoration: none;
}

.footerFila a:hover {
    color: var(--turquesa);
    cursor: pointer;
}

.direccionBSAS {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.direccionBSAS p {
    margin-top: 13px;
}

/* ----------------------------------------- */
/* QUERYS (MÍNIMO TRES TAMAÑOS DISTINTOS)  */
/* ----------------------------------------- */

