.card-container {
    margin-top: 80px;
    margin-bottom: 50px;
    font-family: 'Nunito', sans-serif;
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 40px;
    column-gap: 40px;
}

.card1, .card2, .card3, .card4, .card5, .card6 {
    display: flex;
    width: 400px;
    height: 400px;
    object-fit: contain;
    align-items: center;
    padding-top: 10px;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
    background-color: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    box-shadow: 0px 0px 15px -5px var(--negro);
    transition: 0.3s;
    animation: ease-in;
    background-color: var(--blanco);
}

.card1:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 0px var(--negro);
}